@model ShoppingCart
<h2>Your Cart</h2>
<table class="table table-bordered table-hover align-middle">
    <tr>
        <th scope="col">Image</th>
        <th scope="col">Course</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
    </tr>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>
            <td>@(item.Price * item.Quantity)</td>
            <td>
                <a asp-action="RemoveFromCart" asp-route-courseId="@item.CourseId">Remove</a>
            </td>
        </tr>
    }
</table>
